
  .card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height:250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:20px;
  border-radius: 10px;
  box-sizing: border-box;
  }

  .card-title{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFEA9;
    height: 100px;
  }



  .item-face{
    /* font-size:40px; */
    text-align: center;
    cursor: pointer;
    
  }
  .item-face:hover{
    /* font-size:40px; */
    text-align: center;
    transform: rotate(-5deg);
  
  }

  .card-header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background-color: #403075;
    color:white;
    height: 50px;
  }
  .item-name{
    text-align: center;
    
  }
  
  .card-body {
    color:white;
    height: 100px;
    padding-top:0;
    background-color: #13073A;
  }

  .item-details{
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:4px 5px 0 5px;
  }

  .item-price {
    padding-top:2px;
    margin: 0;
    text-align: center;

  }

  .item-date {
    padding-top:0;
    margin: 0;
    text-align: center;
 
  }
  
  .item-button {
    position:relative;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    margin-left: 25%;
    bottom:-20px;
    background-color: #525500;
    color:white;
    font-weight:bolder;
    outline: 0;
    cursor: pointer;
  }

  .label-details{
    color:#adb2ba;
  }
  
  .item-button:hover{
    background-color: #A6A938;
    color:white
  }

  .card:hover{
    transform: scale(1.1);
  }